<html>

<head>
    <style>
        body {
            background-color: black;
            color: white;
        }

        #logo {
            margin: auto;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <p>Dear <b><%= name %></b> ,</p>
    <br><br>
    <p>Thank you for registering for Skills++ for this season! You have successfully registered for <%= domain %>
        domain. Have a wonderful month-long experience of learning and enjoyment.
    </p>
    <br>
    <p>
        Zairza is the premier technical club of the college, pushing the boundaries of innovation in robotics, software,
        and Design. We firmly believe in our motto “Wonder, Think, Create” and strive forward to materialize it.
        Networking opportunities with one another is our most valuable tool in being successful in our career. WeU+0060d
        love
        to invite you to our discussion forum platform where you all can ask your queries.
    </p>
    <p>
        Discussion forum link :<a href=<%= forumLink %> target="_blank">Click to Join Discussion Forums</a>
    </p>
    <br>
    <p>
        It is a great opportunity for you to interact and become acquainted with members of the Skills++ team.
        <p>Your week 0 resource link is here <a  href=<%= resourceLink %> target='_blank'>Week 0 Resource</a></p>
        <p>
            The tasks will be unlocked every week so stay updated on the <a href="https://skills.zairza.in">zairza
                Skils++ website</a>.
        </p>    
        <br>
        <p>For any queries, please contact us at</p>
        <a href="mailto:cet.sac.zairza@gmail.com">cet.sac.zairza@gmail.com</a>

        <p> -- </p>
        <p><b> Happy Learning:) <b> </p>
        <p> <b> Team Zairza </b> </p>
</body>

</html>